.card
  width 26u
  margin-top 2u
.types
  width 20u
  color #fff
  radius(m)
  margin-top 1u
  text-align center
  &.first
    margin-left 2u
.Poison
  background-color #b97fc9

.Bug 
  background-color #729f3f

.Dragon
  background-color #A28993

.Fairy 
  background-color #fdb9e9

.Fire
  background-color #fd7d24

.Ghost
  background-color #7b62a3

.Ground
  background-color #D1BB41

.Normal
  background-color #a4acaf

.Psychic
  background-color #f366b9

.Steel
  background-color #9eb7b8

.Dark
  background-color #707070

.Electric 
  background-color #eed535

.Fighting
  background-color #d56723

.Flying
  background-color #7DC0D4
  
.Grass 
  background-color #9bcc50

.Ice 
  background-color #51c4e7

.Rock
  background-color #a38c21

.Water
  background-color #4592c4

.centerElement
  justify-content center
  +tablet()
    justify-content left