$color = #C1B7DF

.root
  padding 2u 0
  flex 1

.main
  +tablet()
    margin-left 16u
    margin-right 16u
  +desktop()
    margin-left 16u
    margin-right 16u
  +wide()
    margin-left 30u
    margin-right 30u

.text
  color $color
  font-weight bold
  font-size 20px
